<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link href="/static/js/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/static/js/jquery-3.4.1.min.js"></script>
    <script src="/static/js/bootstrap/js/bootstrap.js"></script>
</head>
<body style="background-color: white">
<div class="container" style="width: 30%;margin-top: 5%" id="user">
    <div class="form-group">
    </div>
    <div>
        <h3 style="float: left">就业推荐系统注册</h3>
    </div>
    <br>
    <br>
    <br>
    <br>
    <form>
        <div class="form-group">
            <label for="userName">用户名:</label>
            <input type="text" class="form-control" id="userName" placeholder="UserName">
        </div>
        <div class="form-group">
            <label for="userPwd">密码:</label>
            <input type="password" class="form-control" id="userPwd" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="cuserPwd">确认密码:</label>
            <input type="password" class="form-control" id="cuserPwd" placeholder="ConfirmPassword">
        </div>
        <div class="form-group">
            <label for="useremail">电子邮箱:</label>
            <input type="email" class="form-control" id="useremail" placeholder="UserEmail">
        </div>

        <span id="msg" th:text="${msg}" style="color: red"></span>
        <br>
        <br>
        <button type="button" id="reg" class="btn btn-primary" >注册账号</button>
        <a th:href="@{/login}" class="btn btn-success">已有账号，前去登录</a>
    </form>
</div>

<div class="container" style="width: 30%;margin-top: 5%" id="company" hidden>
    haha
</div>
<script>
    $("#userradio").click(function () {
        var r =$("input:radio:checked").val()
        if(r==1){
            $("#user").show()
            $("#company").hide()
        }
        if(r==2){
            $("#user").hide()
            $("#company").show()
        }
        }
    )




    //锁定用户名
    $("#userName").focus()
    //清空提示
    $("#userName").focus(function () {
        $("#msg").html("");
    })

    //判断账号是否存在
    $("#userName").blur(function () {
        var userName = $("#userName").val();
        $.ajax({
            url:"/user/exist?uName="+userName,
            type:"post",
            dataType:"json",
            success:function (data) {
                console.log(data)
                if(data==false){
                    $("#userName").focus()
                    $("#msg").html("账号已存在，请重新输入！！");
                    $("#reg").attr("disabled","disabled");
                }else{
                    $("#msg").html("");
                    $("#reg").removeAttr("disabled")
                    $("#userPwd").focus()
                }

            }

        })
    })
    //点击注册
    $("#reg").click(function () {

        var userName = $("#userName").val();
        var userPwd = $("#userPwd").val();
        var userEmail = $("#useremail").val();
        if(userName==""||userPwd==""){
            $("#msg").html("账号或密码不能为空！！");
            return
        }
        if(userEmail==""){
            $("#msg").html("邮箱不能为空！！");
            return
        }

        console.log(userName)


            $.ajax({
                url:'user/reg',
                data:{'uName':userName,'uPwd':userPwd,'uEmail':userEmail},
                type:'post',
                dataType:'json',
                success:function (data) {
                    console.log(data)
                    window.location.href = "/regsucess";
                }
            })


    })

    //判断密码是否一致
    $("#userPwd").blur(function () {
        var userPwd = $("#userPwd").val();
        var cuserPwd = $("#cuserPwd").val();
        if(userPwd!=cuserPwd){
            $("#msg").html("两次密码不一致！！");
            $("#reg").attr("disabled","disabled");

        }
        if(userPwd==cuserPwd){
            $("#msg").html("");
            $("#reg").removeAttr("disabled")
        }
    })
    //判断密码是否一致
    $("#cuserPwd").blur(function () {
        var userPwd = $("#userPwd").val();
        var cuserPwd = $("#cuserPwd").val();
        if(userPwd!=cuserPwd){
            $("#msg").html("两次密码不一致！！");
            $("#reg").attr("disabled","disabled");

        }
        if(userPwd==cuserPwd){
            $("#msg").html("");
            $("#reg").removeAttr("disabled")
        }
    })


</script>
</body>
</html>